<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
</head>
<body>

    <div id="app">
        <h2>Simple Calculator</h2>
        <input type="number" v-model="var1">
        <input type="number" v-model="var2">

        <button v-on:click="tambah">+</button>
        <button v-on:click="kurang">-</button>
        <button v-on:click="kali">*</button>
        <button v-on:click="bagi">/</button>

        <h3>{{ result }}</h3>
    </div>
    

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    var1: 0,
                    var2: 0,
                    result: 0
                }
            },
            methods: {
                tambah() {
                    this.result = this.var1 + this.var2;
                },
                kurang() {
                    this.result = this.var1 - this.var2;
                },
                kali() {
                    this.result = this.var1 * this.var2;
                },
                bagi() {
                    this.result = this.var1 / this.var2;
                }
            }
        });

        app.mount('#app');
    </script>
</body>
</html>