<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>  
</head>
<body>

    <div id="app">
        <h2>Simple Calculator</h2>
        <input type="number" v-model="var1">
        <input type="number" v-model="var2">
        <br>

        <button v-on:click="tambah">+</button>
        <button v-on:click="kurang">-</button>
        <button v-on:click="kali">*</button>
        <button v-on:click="bagi">/</button>

        <h3>{{ result }}</h3>
    </div>
    
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    var1: 0,
                    var2: 0,
                    result: 0
                }
            },
            methods: {

                tambah() {
                    const no1 = parseFloat(this.var1);
                    const no2 = parseFloat(this.var2);
                    this.result = no1 + no2;
                },
                kurang() {
                    const no1 = parseFloat(this.var1);
                    const no2 = parseFloat(this.var2);
                    this.result = no1 - no2;
                },
                kali() {
                    const no1 = parseFloat(this.var1);
                    const no2 = parseFloat(this.var2);
                    this.result = no1 * no2;
                },
                bagi() {
                    const no1 = parseFloat(this.var1);
                    const no2 = parseFloat(this.var2);
                    this.result = no1 / no2;
                }
            }
        });

        app.mount('#app');
    </script>
</body>
</html>